<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${basedir}/logs/console-example-internal.log"
      internalLogLevel="Info" >

  <targets>
    <target xsi:type="File" name="ComContext_Debug" fileName="${basedir}/Logs/CompanyContext/${shortdate}/logDebug.log"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
    <target xsi:type="File" name="ListOfEmployeesVM_Debug" fileName="${basedir}/Logs/ListOfEmployeesVM/${shortdate}/logDebug.log"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
    <target xsi:type="File" name="StatusStatisticsVM_Debug" fileName="${basedir}/Logs/StatusStatisticsVM/${shortdate}/logDebug.log"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*.CompanyContext" minlevel="Debug" writeTo="ComContext_Debug" />
    <logger name="*.ListOfEmployeesViewModel" minlevel="Debug" writeTo="ListOfEmployeesVM_Debug" />
    <logger name="*.StatusStatisticsViewModel" minlevel="Debug" writeTo="StatusStatisticsVM_Debug" />
  </rules>
</nlog>